<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% @categories.each do |cat| %>
    <%= cat.name %>
<% end %>
<br>
<% @products.each do |pro| %>
    <%= pro.name %>
    <br>
<% end %>

<%= will_paginate @products, renderer: BootstrapPagination::Rails %>


<h1> <%= current_user.email %> </h1>
<%= link_to  "Çıkış Yap", destroy_user_session_path, method: :delete %>